:root{
  --negro:#000;
  --blanco:#fff;
  --clarette:#3fb9ff;
  --color2:#f2f2f2;
  --menos:#e4d5d5;
  --jum:#F5F5DC;
  --rogelio:#d33636;
  --amarillo:#f0fb4c;
  --purpura:#bd72ff;
  --nose:#fee3e3;
  --rojoclaro:#ff5050;
  --negrolio:#000000;
  --amarilloclaro:#ebff53;
  --amarillooscuro:#fecc50;
  --negrin:#000000;
  --rojo:#fe1e1e;
  --azulejo:#0010bd;
  --clarito:#6b75e5;
}